html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

progress {
    vertical-align: baseline
}

template,
[hidden] {
    display: none
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: inherit
}

b,
strong {
    font-weight: 600
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button,
input,
select,
textarea {
    font: inherit
}

optgroup {
    font-weight: bold
}

button,
input,
select {
    overflow: visible
}

button,
input,
select,
textarea {
    margin: 0
}

button,
select {
    text-transform: none
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    cursor: pointer
}

[disabled] {
    cursor: default
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

button:-moz-focusring,
input:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
    outline: none;
    box-sizing: border-box
}

*:before,
*:after {
    box-sizing: border-box
}

body {
    background: #F7F7F7;
    color: #2c2f34;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 21px
}

h1,
h2,
h3,
h4,
h5,
h6,
.the-subtitle {
    line-height: 1.4;
    font-weight: 600
}

h1 {
    font-size: 41px;
    font-weight: 700
}

h2 {
    font-size: 27px
}

h3 {
    font-size: 23px
}

h4,
.the-subtitle {
    font-size: 17px
}

h5 {
    font-size: 13px
}

h6 {
    font-size: 12px
}

a {
    color: #333;
    text-decoration: none;
    transition: 0.15s
}

a:hover {
    color: #08f
}

img,
object,
embed {
    max-width: 100%;
    height: auto
}

iframe {
    max-width: 100%
}

p {
    line-height: 21px
}

.says,
.screen-reader-text,
.comment-form-comment label {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden
}

.stream-title {
    margin-bottom: 3px;
    font-size: 11px;
    color: #a5a5a5;
    display: block
}

.stream-item {
    text-align: center;
    position: relative;
    z-index: 2;
    margin: 20px 0;
    padding: 0
}

.stream-item iframe {
    margin: 0 auto
}

.stream-item img {
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle
}

.stream-item.stream-item-above-header {
    margin: 0
}

.stream-item.stream-item-between .post-item-inner {
    width: 100%;
    display: block
}

.post-layout-8.is-header-layout-1.has-header-ad .entry-header-outer,
body.post-layout-8.has-header-below-ad .entry-header-outer {
    padding-top: 0
}

.stream-item-top-wrapper~.stream-item-below-header,
.is-header-layout-1.has-header-ad.post-layout-6 .featured-area,
.has-header-below-ad.post-layout-6 .featured-area {
    margin-top: 0
}

.has-header-below-ad .fullwidth-entry-title.container-wrapper,
.is-header-layout-1.has-header-ad .fullwidth-entry-title,
.is-header-layout-1.has-header-ad .is-first-section,
.has-header-below-ad .is-first-section {
    padding-top: 0;
    margin-top: 0
}

@media (max-width: 991px) {
    body:not(.is-header-layout-1).has-header-below-ad.has-header-ad .top-nav-below .has-breaking-news {
        margin-bottom: 20px
    }
    .has-header-ad .fullwidth-entry-title.container-wrapper,
    .has-header-ad.has-header-below-ad .stream-item-below-header,
    .single.has-header-ad:not(.has-header-below-ad) #content,
    .page.has-header-ad:not(.has-header-below-ad) #content {
        margin-top: 0
    }
    .has-header-ad .is-first-section {
        padding-top: 0
    }
    .has-header-ad:not(.has-header-below-ad) .buddypress-header-outer {
        margin-bottom: 15px
    }
}

.has-full-width-logo .stream-item-top-wrapper,
.header-layout-2 .stream-item-top-wrapper {
    width: 100%;
    max-width: 100%;
    float: none;
    clear: both
}

@media (min-width: 992px) {
    .header-layout-2.has-normal-width-logo .stream-item-top-wrapper {
        margin-top: 0
    }
}

.header-layout-3.no-stream-item .logo-container {
    width: 100%;
    float: none
}

@media (min-width: 992px) {
    .header-layout-3.has-normal-width-logo .stream-item-top img {
        float: right
    }
}

@media (max-width: 991px) {
    .header-layout-3.has-normal-width-logo .stream-item-top {
        clear: both
    }
}

#background-ad-cover {
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed
}

@media (max-width: 768px) {
    .hide_banner_header .stream-item-above-header,
    .hide_banner_top .stream-item-top-wrapper,
    .hide_banner_below_header .stream-item-below-header,
    .hide_banner_bottom .stream-item-above-footer,
    .hide_banner_above .stream-item-above-post,
    .hide_banner_above_content .stream-item-above-post-content,
    .hide_banner_below_content .stream-item-below-post-content,
    .hide_banner_below .stream-item-below-post,
    .hide_banner_comments .stream-item-below-post-comments,
    .hide_breaking_news #top-nav,
    .hide_sidebars .sidebar,
    .hide_footer #footer-widgets-container,
    .hide_copyright #site-info,
    .hide_breadcrumbs #breadcrumb,
    .hide_share_post_top .share-buttons-top,
    .hide_share_post_bottom .share-buttons-bottom,
    .hide_post_newsletter #post-newsletter,
    .hide_related #related-posts,
    .hide_read_next #read-next-block,
    .hide_post_authorbio .post-components .about-author,
    .hide_post_nav .prev-next-post-nav,
    .hide_back_top_button #go-to-top,
    .hide_read_more_buttons .more-link,
    .hide_inline_related_posts #inline-related-post {
        display: none !important
    }
}

.tie-icon:before,
[class^="tie-icon-"],
[class*=" tie-icon-"] {
    font-family: 'tiefonticon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block
}

body.tie-no-js a.remove,
body.tie-no-js .tooltip,
body.tie-no-js .woocommerce-message,
body.tie-no-js .woocommerce-error,
body.tie-no-js .woocommerce-info,
body.tie-no-js .bbp-template-notice,
body.tie-no-js .indicator-hint,
body.tie-no-js .menu-counter-bubble-outer,
body.tie-no-js .notifications-total-outer,
body.tie-no-js .comp-sub-menu,
body.tie-no-js .menu-sub-content {
    display: none !important
}

body.tie-no-js .fa,
body.tie-no-js .fas,
body.tie-no-js .far,
body.tie-no-js .fab,
body.tie-no-js .tie-icon:before,
body.tie-no-js [class^="tie-icon-"],
body.tie-no-js [class*=" tie-icon-"],
body.tie-no-js .weather-icon {
    visibility: hidden !important
}

body.tie-no-js [class^="tie-icon-"]:before,
body.tie-no-js [class*=" tie-icon-"]:before {
    content: "\f105"
}

.tie-popup,
#autocomplete-suggestions {
    display: none
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.container:after {
    content: "";
    display: table;
    clear: both
}

@media (min-width: 768px) {
    .container {
        width: 100%
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px
    }
}

.tie-row {
    margin-left: -15px;
    margin-right: -15px
}

.tie-row:after {
    content: "";
    display: table;
    clear: both
}

.tie-col-xs-1,
.tie-col-sm-1,
.tie-col-md-1,
.tie-col-xs-2,
.tie-col-sm-2,
.tie-col-md-2,
.tie-col-xs-3,
.tie-col-sm-3,
.tie-col-md-3,
.tie-col-xs-4,
.tie-col-sm-4,
.tie-col-md-4,
.tie-col-xs-5,
.tie-col-sm-5,
.tie-col-md-5,
.tie-col-xs-6,
.tie-col-sm-6,
.tie-col-md-6,
.tie-col-xs-7,
.tie-col-sm-7,
.tie-col-md-7,
.tie-col-xs-8,
.tie-col-sm-8,
.tie-col-md-8,
.tie-col-xs-9,
.tie-col-sm-9,
.tie-col-md-9,
.tie-col-xs-10,
.tie-col-sm-10,
.tie-col-md-10,
.tie-col-xs-11,
.tie-col-sm-11,
.tie-col-md-11,
.tie-col-xs-12,
.tie-col-sm-12,
.tie-col-md-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.tie-col-xs-1,
.tie-col-xs-2,
.tie-col-xs-3,
.tie-col-xs-4,
.tie-col-xs-5,
.tie-col-xs-6,
.tie-col-xs-7,
.tie-col-xs-8,
.tie-col-xs-9,
.tie-col-xs-10,
.tie-col-xs-11,
.tie-col-xs-12 {
    float: left
}

.tie-col-xs-1 {
    width: 8.33333%
}

.tie-col-xs-2 {
    width: 16.66667%
}

.tie-col-xs-3 {
    width: 25%
}

.tie-col-xs-4 {
    width: 33.33333%
}

.tie-col-xs-5 {
    width: 41.66667%
}

.tie-col-xs-6 {
    width: 50%
}

.tie-col-xs-7 {
    width: 58.33333%
}

.tie-col-xs-8 {
    width: 66.66667%
}

.tie-col-xs-9 {
    width: 75%
}

.tie-col-xs-10 {
    width: 83.33333%
}

.tie-col-xs-11 {
    width: 91.66667%
}

.tie-col-xs-12 {
    width: 100%
}

@media (min-width: 768px) {
    .tie-col-sm-1,
    .tie-col-sm-2,
    .tie-col-sm-3,
    .tie-col-sm-4,
    .tie-col-sm-5,
    .tie-col-sm-6,
    .tie-col-sm-7,
    .tie-col-sm-8,
    .tie-col-sm-9,
    .tie-col-sm-10,
    .tie-col-sm-11,
    .tie-col-sm-12 {
        float: left
    }
    .tie-col-sm-1 {
        width: 8.33333%
    }
    .tie-col-sm-2 {
        width: 16.66667%
    }
    .tie-col-sm-3 {
        width: 25%
    }
    .tie-col-sm-4 {
        width: 33.33333%
    }
    .tie-col-sm-5 {
        width: 41.66667%
    }
    .tie-col-sm-6 {
        width: 50%
    }
    .tie-col-sm-7 {
        width: 58.33333%
    }
    .tie-col-sm-8 {
        width: 66.66667%
    }
    .tie-col-sm-9 {
        width: 75%
    }
    .tie-col-sm-10 {
        width: 83.33333%
    }
    .tie-col-sm-11 {
        width: 91.66667%
    }
    .tie-col-sm-12 {
        width: 100%
    }
}

@media (min-width: 992px) {
    .tie-col-md-1,
    .tie-col-md-2,
    .tie-col-md-3,
    .tie-col-md-4,
    .tie-col-md-5,
    .tie-col-md-6,
    .tie-col-md-7,
    .tie-col-md-8,
    .tie-col-md-9,
    .tie-col-md-10,
    .tie-col-md-11,
    .tie-col-md-12 {
        float: left
    }
    .tie-col-md-1 {
        width: 8.33333%
    }
    .tie-col-md-2 {
        width: 16.66667%
    }
    .tie-col-md-3 {
        width: 25%
    }
    .tie-col-md-4 {
        width: 33.33333%
    }
    .tie-col-md-5 {
        width: 41.66667%
    }
    .tie-col-md-6 {
        width: 50%
    }
    .tie-col-md-7 {
        width: 58.33333%
    }
    .tie-col-md-8 {
        width: 66.66667%
    }
    .tie-col-md-9 {
        width: 75%
    }
    .tie-col-md-10 {
        width: 83.33333%
    }
    .tie-col-md-11 {
        width: 91.66667%
    }
    .tie-col-md-12 {
        width: 100%
    }
}

.tie-alignleft {
    float: left
}

.tie-alignright {
    float: right
}

.tie-aligncenter {
    clear: both;
    margin-left: auto;
    margin-right: auto
}

.fullwidth {
    width: 100% !important
}

.alignleft {
    float: left;
    margin: 0.375em 1.75em 1em 0
}

.alignright {
    float: right;
    margin: 0.375em 0 1em 1.75em
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto 1.75em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    margin-bottom: 6px
}

@media (max-width: 767px) {
    .entry .alignright,
    .entry .alignright img,
    .entry .alignleft,
    .entry .alignleft img {
        float: none;
        clear: both;
        display: block;
        margin: 0 auto 1.75em
    }
}

.clearfix:before,
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden
}

.clearfix:after {
    clear: both
}

.tie-container,
#tie-wrapper {
    height: 100%;
    min-height: 650px
}

.tie-container {
    position: relative;
    overflow: hidden
}

#tie-wrapper {
    background: #ffffff;
    position: relative;
    z-index: 108;
    height: 100%;
    margin: 0 auto
}

.container-wrapper {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 30px
}

#content {
    margin-top: 30px
}

@media (max-width: 991px) {
    #content {
        margin-top: 15px
    }
}

.site-content {
    -ms-word-wrap: break-word;
    word-wrap: break-word
}

.boxed-layout #tie-wrapper,
.boxed-layout .fixed-nav {
    max-width: 1230px
}

.boxed-layout.wrapper-has-shadow #tie-wrapper {
    box-shadow: 0 1px 7px rgba(171, 171, 171, 0.5)
}

@media (min-width: 992px) {
    .boxed-layout #main-nav.fixed-nav,
    .boxed-layout #tie-wrapper {
        width: 95%
    }
}

@media (min-width: 992px) {
    .framed-layout #tie-wrapper {
        margin-top: 25px;
        margin-bottom: 25px
    }
}

@media (min-width: 992px) {
    .border-layout #tie-container {
        margin: 25px
    }
    .border-layout:after,
    .border-layout:before {
        background: inherit;
        content: "";
        display: block;
        height: 25px;
        left: 0;
        bottom: 0;
        position: fixed;
        width: 100%;
        z-index: 110
    }
    .border-layout:before {
        top: 0;
        bottom: auto
    }
    .border-layout.admin-bar:before {
        top: 32px
    }
    .border-layout #main-nav.fixed-nav {
        left: 25px;
        right: 25px;
        width: calc(100% - 50px)
    }
}

.theme-header {
    background: #ffffff;
    position: relative;
    z-index: 999
}

.theme-header:after {
    content: "";
    display: table;
    clear: both
}

.theme-header.has-shadow {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1)
}

.theme-header.top-nav-below .top-nav {
    z-index: 8
}

.is-stretch-header .container {
    max-width: 100%
}

.logo-row {
    position: relative
}

#logo {
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    float: left
}

#logo img {
    vertical-align: middle
}

#logo img[src*='.svg'] {
    width: 100% !important
}

@-moz-document url-prefix() {
    #logo img[src*='.svg'] {
        height: 100px
    }
}

#logo a {
    display: inline-block
}

#logo .h1-off {
    position: absolute;
    top: -9000px;
    left: -9000px
}

#logo.text-logo a {
    color: #08f
}

#logo.text-logo a:hover {
    color: #006dcc;
    opacity: 0.8
}

#tie-logo-inverted,
#tie-sticky-logo-inverted {
    display: none
}

.tie-skin-inverted #tie-sticky-logo-inverted,
.tie-skin-inverted #tie-logo-inverted {
    display: block
}

.tie-skin-inverted #tie-sticky-logo-default,
.tie-skin-inverted #tie-logo-default {
    display: none
}

.logo-text {
    font-size: 50px;
    line-height: 50px;
    font-weight: bold
}

@media (max-width: 670px) {
    .logo-text {
        font-size: 30px
    }
}

.has-full-width-logo.is-stretch-header .logo-container {
    padding: 0
}

.has-full-width-logo #logo {
    margin: 0
}

.has-full-width-logo #logo a,
.has-full-width-logo #logo img {
    width: 100%;
    height: auto;
    display: block
}

.has-full-width-logo #logo,
.header-layout-2 #logo {
    float: none;
    text-align: center
}

.has-full-width-logo #logo img,
.header-layout-2 #logo img {
    margin-right: auto;
    margin-left: auto
}

.has-full-width-logo .logo-container,
.header-layout-2 .logo-container {
    width: 100%;
    float: none
}

@media (max-width: 991px) {
    #theme-header.has-normal-width-logo #logo {
        margin: 14px 0 !important;
        text-align: left;
        line-height: 1
    }
    #theme-header.has-normal-width-logo #logo img {
        width: auto;
        height: auto;
        max-width: 190px
    }
}

@media (max-width: 479px) {
    #theme-header.has-normal-width-logo #logo img {
        max-width: 160px;
        max-height: 60px !important
    }
}

@media (max-width: 991px) {
    #theme-header.mobile-header-default:not(.header-layout-1) #logo,
    #theme-header.mobile-header-default.header-layout-1 .header-layout-1-logo {
        -webkit-flex-grow: 10;
        -ms-flex-positive: 10;
        flex-grow: 10
    }
    #theme-header.mobile-header-centered.header-layout-1 .header-layout-1-logo {
        width: auto !important
    }
    #theme-header.mobile-header-centered #logo {
        float: none;
        text-align: center
    }
}

.components {
    float: right
}

.components>li {
    position: relative;
    float: right;
    list-style: none
}

.components>li.social-icons-item {
    margin: 0
}

.components>li>a {
    display: block;
    position: relative;
    width: 30px;
    text-align: center;
    line-height: inherit;
    font-size: 16px
}

.components>li>a:hover,
.components>li:hover>a {
    z-index: 2
}

.components .avatar {
    border-radius: 100%;
    position: relative;
    top: 4px;
    max-width: 20px
}

.components a.follow-btn {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden
}

.components .follow-btn .tie-icon-plus {
    font-size: 13px
}

.components .follow-btn .follow-text {
    font-size: 12px;
    margin-left: 8px;
    display: block;
    float: right
}

.components .search-bar {
    width: auto;
    border: solid rgba(0, 0, 0, 0.1);
    border-width: 0 1px;
    margin-left: 10px
}

.components #search {
    position: relative;
    background: transparent
}

.components #search-input {
    border: 0;
    margin-bottom: 0;
    line-height: inherit;
    width: 100%;
    background: transparent;
    padding: 0 25px 0 10px;
    border-radius: 0;
    box-sizing: border-box;
    font-size: inherit
}

.components #search-input:hover {
    background: rgba(0, 0, 0, 0.03)
}

.components #search-input:focus {
    background: rgba(0, 0, 0, 0.03);
    box-shadow: none
}

.components #search-submit {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    line-height: inherit;
    color: #777777;
    background: transparent;
    font-size: 15px;
    padding: 0;
    transition: color 0.15s
}

.components #search-submit:hover {
    color: #08f
}

#search-submit .tie-icon-spinner {
    color: #555;
    cursor: default;
    -webkit-animation: tie-spin 3s infinite linear;
    animation: tie-spin 3s infinite linear
}

.top-nav-boxed .components li:first-child.weather-menu-item,
.main-nav-boxed .components li:first-child.weather-menu-item,
.components .search-bar+.weather-menu-item {
    padding-right: 10px
}

.popup-login-icon.has-title a {
    width: auto;
    padding: 0 8px
}

.popup-login-icon.has-title span {
    line-height: unset;
    float: left
}

.popup-login-icon.has-title .login-title {
    position: relative;
    font-size: 13px;
    padding-left: 4px
}

.weather-menu-item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 5px;
    overflow: hidden
}

.weather-menu-item:after {
    content: 't';
    visibility: hidden;
    width: 0
}

.weather-menu-item .weather-wrap {
    padding: 0;
    overflow: inherit;
    line-height: 23px
}

.weather-menu-item .weather-forecast-day {
    display: block;
    float: left;
    width: auto;
    padding: 0 5px;
    line-height: initial
}

.weather-menu-item .weather-forecast-day .weather-icon {
    font-size: 26px;
    margin-bottom: 0
}

.weather-menu-item .city-data {
    float: left;
    display: block;
    font-size: 12px
}

.weather-menu-item .weather-current-temp {
    font-size: 16px;
    font-weight: 400
}

.weather-menu-item .weather-current-temp sup {
    font-size: 9px;
    top: -2px
}

.weather-menu-item .theme-notice {
    padding: 0 10px
}

.components .tie-weather-widget {
    color: #2c2f34
}

.main-nav-dark .main-nav .tie-weather-widget {
    color: #ffffff
}

.top-nav-dark .top-nav .tie-weather-widget {
    color: #ccc
}

.components .icon-basecloud-bg:after {
    color: #ffffff
}

.main-nav-dark .main-nav .icon-basecloud-bg:after {
    color: #1f2024
}

.top-nav-dark .top-nav .icon-basecloud-bg:after {
    color: #27292d
}

.header-layout-1 #menu-components-wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

@media (max-width: 991px) {
    .header-layout-1 #main-nav [class*="tie-col-md"] {
        float: left;
        width: auto
    }
}

.header-layout-1 .main-menu-wrapper {
    display: table;
    width: 100%
}

.header-layout-1 #logo {
    line-height: 1;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px
}

.header-layout-1 .header-layout-1-logo {
    display: table-cell;
    vertical-align: middle;
    float: none
}

.header-layout-1 #main-nav .components .search-bar {
    border: none
}

.header-layout-1 #main-nav .components #search-input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: initial;
    padding-top: 10px;
    padding-bottom: 10px
}

.header-layout-1.main-nav-dark #main-nav .components #search-input {
    border-color: rgba(255, 255, 255, 0.07)
}

.header-layout-2 #menu-components-wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.header-layout-4 #menu-components-wrap {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-left: 25px
}

.header-layout-4 #menu-components-wrap .main-menu-wrap {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.is-header-bg-extended #theme-header,
.is-header-bg-extended #theme-header.header-layout-1 #main-nav:not(.fixed-nav) {
    background: transparent !important;
    display: inline-block !important;
    width: 100% !important;
    box-shadow: none !important;
    transition: background 0.3s
}

.is-header-bg-extended #theme-header:before,
.is-header-bg-extended #theme-header.header-layout-1 #main-nav:not(.fixed-nav):before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    height: 150px;
    background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5))
}

@media (max-width: 991px) {
    .is-header-bg-extended #tie-wrapper #theme-header .logo-container:not(.fixed-nav) {
        background: transparent;
        box-shadow: none;
        transition: background 0.3s
    }
}

.is-header-bg-extended .has-background .is-first-section {
    margin-top: -350px !important
}

.is-header-bg-extended .has-background .is-first-section>* {
    padding-top: 350px !important
}

.rainbow-line {
    height: 3px;
    width: 100%;
    position: relative;
    z-index: 2;
    background-image: linear-gradient(to right, #f76570 0%, #f76570 8%, #f3a46b 8%, #f3a46b 16%, #f3a46b 16%, #ffd205 16%, #ffd205 24%, #ffd205 24%, #1bbc9b 24%, #1bbc9b 25%, #1bbc9b 32%, #14b9d5 32%, #14b9d5 40%, #c377e4 40%, #c377e4 48%, #f76570 48%, #f76570 56%, #f3a46b 56%, #f3a46b 64%, #ffd205 64%, #ffd205 72%, #1bbc9b 72%, #1bbc9b 80%, #14b9d5 80%, #14b9d5 80%, #14b9d5 89%, #c377e4 89%, #c377e4 100%)
}

@media (max-width: 991px) {
    .logo-container,
    .header-layout-1 .main-menu-wrapper {
        border-width: 0;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

.mobile-header-components {
    display: none;
    z-index: 10;
    height: 30px;
    line-height: 30px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%
}

.mobile-header-components .components {
    float: none;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch
}

.mobile-header-components .components li.custom-menu-link {
    display: inline-block;
    float: none
}

.mobile-header-components .components li.custom-menu-link>a {
    width: 20px;
    padding-bottom: 15px
}

.mobile-header-components .components li.custom-menu-link>a .menu-counter-bubble {
    right: calc(50% - 10px);
    bottom: -10px
}

.header-layout-1.main-nav-dark .mobile-header-components .components li.custom-menu-link>a {
    color: #fff
}

.dark-skin .mobile-header-components .components a.button.guest-btn:not(:hover) {
    background: #23262a;
    border-color: #23262a;
    color: #fff
}

.mobile-header-components .components .comp-sub-menu {
    padding: 10px
}

.dark-skin .mobile-header-components .components .comp-sub-menu {
    background: #1f2024
}

.mobile-header-components [class^="tie-icon-"],
.mobile-header-components [class*=" tie-icon-"] {
    font-size: 18px;
    width: 20px;
    height: 20px;
    vertical-align: middle
}

.mobile-header-components .tie-mobile-menu-icon {
    font-size: 20px
}

.mobile-header-components .tie-icon-grid-9,
.mobile-header-components .tie-icon-grid-4 {
    -webkit-transform: scale(1.75);
    -ms-transform: scale(1.75);
    transform: scale(1.75)
}

.mobile-header-components .nav-icon {
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #2c2f34;
    position: relative;
    top: -4px;
    transition: background 0.4s ease
}

.mobile-header-components .nav-icon:before,
.mobile-header-components .nav-icon:after {
    position: absolute;
    right: 0;
    background-color: #2c2f34;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    transition: background 0.4s, right .2s ease, -webkit-transform 0.4s;
    transition: transform 0.4s, background 0.4s, right .2s ease;
    transition: transform 0.4s, background 0.4s, right .2s ease, -webkit-transform 0.4s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.mobile-header-components .nav-icon:before {
    -webkit-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px)
}

.mobile-header-components .nav-icon:after {
    -webkit-transform: translateY(7px);
    -ms-transform: translateY(7px);
    transform: translateY(7px)
}

.mobile-header-components .nav-icon.is-layout-2:before,
.mobile-header-components .nav-icon.is-layout-2:after {
    width: 70%;
    right: 15%
}

.mobile-header-components .nav-icon.is-layout-3:after {
    width: 60%
}

.mobile-header-components .nav-icon.is-layout-4:after {
    width: 60%;
    right: auto;
    left: 0
}

.dark-skin .mobile-header-components .nav-icon,
.dark-skin .mobile-header-components .nav-icon:before,
.dark-skin .mobile-header-components .nav-icon:after,
.main-nav-dark.header-layout-1 .mobile-header-components .nav-icon,
.main-nav-dark.header-layout-1 .mobile-header-components .nav-icon:before,
.main-nav-dark.header-layout-1 .mobile-header-components .nav-icon:after {
    background-color: #ffffff
}

.dark-skin .mobile-header-components .nav-icon .menu-text,
.main-nav-dark.header-layout-1 .mobile-header-components .nav-icon .menu-text {
    color: #ffffff
}

.mobile-header-components .menu-text-wrapper {
    white-space: nowrap;
    width: auto !important
}

.mobile-header-components .menu-text {
    color: #2c2f34;
    line-height: 30px;
    font-size: 12px;
    padding: 0 0 0 5px;
    display: inline-block;
    transition: color 0.4s
}

.dark-skin .mobile-header-components .menu-text,
.main-nav-dark.header-layout-1 .mobile-header-components .menu-text {
    color: #ffffff
}

#mobile-header-components-area_1 .components li.custom-menu-link>a {
    margin-right: 15px
}

#mobile-header-components-area_1 .comp-sub-menu {
    left: 0;
    right: auto
}

#mobile-header-components-area_2 .components {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

#mobile-header-components-area_2 .components li.custom-menu-link>a {
    margin-left: 15px
}

#mobile-menu-icon:hover .nav-icon,
#mobile-menu-icon:hover .nav-icon:before,
#mobile-menu-icon:hover .nav-icon:after {
    background-color: #08f
}

@media (max-width: 991px) {
    .logo-container:before,
    .logo-container:after {
        height: 1px
    }
    .mobile-components-row .logo-wrapper {
        height: auto !important
    }
    .mobile-components-row .logo-container,
    .mobile-components-row.header-layout-1 .main-menu-wrapper {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .mobile-components-row:not(.header-layout-1) #logo,
    .mobile-components-row.header-layout-1 .header-layout-1-logo {
        -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1
    }
    .mobile-components-row .mobile-header-components {
        padding: 5px 0;
        height: 45px
    }
    .mobile-components-row .mobile-header-components .components li.custom-menu-link>a {
        padding-bottom: 0
    }
    #tie-body #mobile-container,
    .mobile-header-components {
        display: block
    }
    #slide-sidebar-widgets {
        display: none
    }
}

.top-nav {
    background-color: #ffffff;
    position: relative;
    z-index: 10;
    line-height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 1px 0;
    color: #2c2f34
}

.main-nav-below.top-nav-above .top-nav {
    border-top-width: 0
}

.top-nav a:not(.button):not(:hover) {
    color: #2c2f34
}

.top-nav .components>li:hover>a {
    color: #08f
}

.topbar-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 35px
}

.top-nav.has-menu .topbar-wrapper,
.top-nav.has-components .topbar-wrapper {
    display: block
}

.top-nav .tie-alignleft,
.top-nav .tie-alignright {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative
}

.top-nav.has-breaking-news .tie-alignleft {
    -webkit-flex: 1 0 100px;
    -ms-flex: 1 0 100px;
    flex: 1 0 100px
}

.top-nav.has-breaking-news .tie-alignright {
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    z-index: 1
}

.top-nav.has-date-components .tie-alignleft .components>li:first-child:not(.search-bar),
.top-nav.has-date-components-menu .components>li:first-child:not(.search-bar),
.top-nav-boxed .top-nav.has-components .components>li:first-child:not(.search-bar) {
    border-width: 0
}

@media (min-width: 992px) {
    .header-layout-1.top-nav-below:not(.has-shadow) .top-nav {
        border-width: 0 0 1px
    }
}

.topbar-today-date {
    float: left;
    padding-right: 15px;
    font-size: 12px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.topbar-today-date:before {
    font-size: 13px;
    content: "\f017"
}

.top-menu .menu a {
    padding: 0 10px
}

.top-menu .menu li:hover>a {
    color: #08f
}

.top-menu .menu ul {
    display: none;
    position: absolute;
    background: #ffffff
}

.top-menu .menu li:hover>ul {
    display: block
}

.top-menu .menu li {
    position: relative
}

.top-menu .menu ul.sub-menu a {
    width: 180px;
    line-height: 20px;
    padding: 7px 15px
}

.tie-alignright .top-menu {
    float: right;
    border-width: 0 1px
}

.top-menu .menu .tie-current-menu>a {
    color: #08f
}

@media (min-width: 992px) {
    .top-nav-boxed .top-nav {
        background: transparent !important;
        border-width: 0
    }
    .top-nav-boxed .topbar-today-date {
        padding: 0 15px
    }
    .top-nav-boxed .top-nav {
        background: transparent;
        border-width: 0
    }
    .top-nav-boxed .topbar-wrapper {
        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-width: 0 1px 1px;
        width: 100%
    }
    .top-nav-boxed.main-nav-above.top-nav-below:not(.header-layout-1) .topbar-wrapper {
        border-width: 1px
    }
    .top-nav-boxed.has-shadow.top-nav-below .topbar-wrapper,
    .top-nav-boxed.has-shadow.top-nav-below-main-nav .topbar-wrapper {
        border-width: 1px 1px 0 !important
    }
    .top-nav-boxed.main-nav-below.top-nav-below-main-nav .has-breaking-news .topbar-wrapper {
        border-left-width: 0 !important
    }
    .top-nav-boxed .has-menu .topbar-wrapper,
    .top-nav-boxed .has-components .topbar-wrapper {
        border-width: 0 1px 1px
    }
    .top-nav-boxed .tie-alignright .search-bar {
        border-right-width: 0
    }
    .top-nav-boxed .tie-alignleft .search-bar {
        border-left-width: 0
    }
    .top-nav-boxed .has-date-components .tie-alignleft .search-bar,
    .top-nav-boxed .has-date-components-menu .tie-alignleft .search-bar {
        border-left-width: 1px
    }
}

.top-nav .tie-alignleft .components,
.top-nav .tie-alignleft .components>li {
    float: left
}

.top-nav .tie-alignleft .comp-sub-menu {
    right: auto;
    left: -1px
}

.top-nav-dark .top-nav {
    background-color: #2c2e32;
    color: #ccc
}

.top-nav-dark .top-nav * {
    border-color: rgba(255, 255, 255, 0.1)
}

.top-nav-dark .top-nav .breaking a {
    color: #ccc
}

.top-nav-dark .top-nav .breaking a:hover {
    color: #ffffff
}

.top-nav-dark .top-nav .components>li>a,
.top-nav-dark .top-nav .components>li.social-icons-item .social-link:not(:hover) span {
    color: #ccc
}

.top-nav-dark .top-nav .components>li:hover>a {
    color: #ffffff
}

.top-nav-dark .top-nav .top-menu li a {
    color: #ccc;
    border-color: rgba(255, 255, 255, 0.04)
}

.top-nav-dark .top-menu ul {
    background: #2c2e32
}

.top-nav-dark .top-menu li:hover>a {
    background: rgba(0, 0, 0, 0.1);
    color: #08f
}

.top-nav-dark.top-nav-boxed .top-nav {
    background-color: transparent
}

.top-nav-dark.top-nav-boxed .topbar-wrapper {
    background-color: #2c2e32
}

.top-nav-dark.top-nav-boxed.top-nav-above.main-nav-below .topbar-wrapper {
    border-width: 0
}

.top-nav-light #top-nav .weather-icon .icon-cloud,
.top-nav-light #top-nav .weather-icon .icon-basecloud-bg,
.top-nav-light #top-nav .weather-icon .icon-cloud-behind,
.main-nav-light #main-nav .weather-icon .icon-cloud,
.main-nav-light #main-nav .weather-icon .icon-basecloud-bg,
.main-nav-light #main-nav .weather-icon .icon-cloud-behind {
    color: #d3d3d3
}

@media (max-width: 991px) {
    .top-nav:not(.has-breaking-news),
    .topbar-today-date,
    .top-menu,
    .theme-header .components {
        display: none
    }
}

.breaking {
    display: none
}

.main-nav-wrapper {
    position: relative;
    z-index: 4
}

.main-nav-below.top-nav-below-main-nav .main-nav-wrapper {
    z-index: 9
}

.main-nav-above.top-nav-below .main-nav-wrapper {
    z-index: 10
}

.main-nav {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 1px 0
}

.main-menu-wrapper {
    border: 0 solid rgba(0, 0, 0, 0.1);
    position: relative
}

@media (min-width: 992px) {
    .header-menu {
        float: left
    }
    .header-menu .menu li {
        display: block;
        float: left
    }
    .header-menu .menu a {
        display: block;
        position: relative
    }
    .header-menu .menu .sub-menu a {
        padding: 8px 10px
    }
    .header-menu .menu a:hover,
    .header-menu .menu li:hover>a {
        z-index: 2
    }
    .header-menu .menu ul {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
    }
    .header-menu .menu ul li {
        position: relative
    }
    .header-menu .menu ul a {
        border-width: 0 0 1px;
        transition: 0.15s
    }
    .header-menu .menu ul ul {
        top: 0;
        left: 100%
    }
    #main-nav {
        z-index: 9;
        line-height: 60px
    }
    .top-nav-below-main-nav #main-nav .main-menu>ul>li,
    .header-layout-1.top-nav-below #main-nav .main-menu>ul>li {
        border-bottom: 0;
        margin-bottom: 0
    }
    .main-menu .menu a {
        transition: 0.15s
    }
    .main-menu .menu>li>a {
        padding: 0 14px;
        font-size: 13px;
        font-weight: 600
    }
    .main-menu .menu>li>.menu-sub-content {
        border-top: 2px solid #08f
    }
    .main-menu .menu>li.tie-current-menu {
        border-bottom: 5px solid #08f;
        margin-bottom: -5px
    }
    .main-menu .menu>li.tie-current-menu>a:after {
        content: "";
        width: 20px;
        height: 2px;
        position: absolute;
        margin-top: 17px;
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background: #2c2f34;
        transition: 0.3s
    }
    .main-menu .menu>li.is-icon-only>a {
        padding: 0 20px;
        line-height: inherit
    }
    .main-menu .menu>li.is-icon-only>a:after,
    .main-menu .menu>li.is-icon-only>a:before {
        display: none
    }
    .main-menu .menu>li.is-icon-only>a .tie-menu-icon {
        font-size: 160%;
        -webkit-transform: translateY(15%);
        -ms-transform: translateY(15%);
        transform: translateY(15%)
    }
    .main-menu .menu ul {
        line-height: 20px;
        z-index: 1
    }
    .main-menu .menu .sub-menu .tie-menu-icon,
    .main-menu .menu .mega-recent-featured-list .tie-menu-icon,
    .main-menu .menu .mega-link-column .tie-menu-icon,
    .main-menu .menu .mega-cat-more-links .tie-menu-icon {
        width: 20px
    }
    .main-menu .menu-sub-content {
        display: none;
        padding: 15px;
        width: 230px;
        position: absolute;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15)
    }
    .main-menu .menu-sub-content a {
        width: 200px
    }
    .main-menu .menu-sub-content .menu-item-has-children>a:before {
        right: 5px
    }
    .main-menu ul li:hover>.menu-sub-content,
    .main-menu ul li[aria-expanded="true"]>ul,
    .main-menu ul li[aria-expanded="true"]>.mega-menu-block {
        display: block;
        z-index: 1
    }
    nav.main-nav .menu>li.tie-current-menu>a,
    nav.main-nav .menu>li:hover>a {
        background-color: #08f;
        color: #fff
    }
    .header-layout-1 .main-menu-wrap .menu>li:only-child:not(.mega-menu) {
        position: relative
    }
    .header-layout-1 .main-menu-wrap .menu>li:only-child>.menu-sub-content {
        right: 0;
        left: auto
    }
    .header-layout-1 .main-menu-wrap .menu>li:only-child>.menu-sub-content ul {
        left: auto;
        right: 100%
    }
    nav.main-nav .components>li:hover>a {
        color: #08f
    }
    .main-nav-dark .main-nav {
        background: #1f2024;
        border-width: 0
    }
    .main-nav-dark .main-nav .search-bar {
        border-color: rgba(255, 255, 255, 0.07)
    }
    .main-nav-dark .main-nav .components>li>a {
        color: #ffffff
    }
    .main-nav-dark .main-nav .components>li.social-icons-item .social-link:not(:hover) span {
        color: #ffffff
    }
    .main-nav-dark .main-nav.fixed-nav {
        background-color: rgba(31, 32, 36, 0.95)
    }
    .main-nav-dark .main-menu .menu>li a {
        color: #ffffff
    }
    .main-nav-dark .main-menu .menu ul li:hover>a,
    .main-nav-dark .main-menu .menu ul li.current-menu-item:not(.mega-link-column)>a {
        color: #08f
    }
    .main-nav-dark .main-menu .menu-sub-content {
        background: #1f2024;
        color: #ffffff
    }
    .main-nav-dark .main-menu .menu ul a,
    .main-nav-dark .main-menu .mega-cat-wrapper,
    .main-nav-dark .mega-cat-more-links>li a {
        border-color: rgba(255, 255, 255, 0.04)
    }
    .main-nav-dark .mega-recent-featured-list:after {
        background: rgba(0, 0, 0, 0.08)
    }
    .main-nav-dark.main-nav-boxed .main-nav .main-menu-wrapper {
        background-color: #1f2024
    }
    .main-nav-dark .cats-vertical,
    .main-nav-dark ul.cats-horizontal li a {
        background: rgba(0, 0, 0, 0.2)
    }
    .main-nav-dark ul.cats-horizontal li a {
        border: none
    }
    .main-nav-dark ul.cats-vertical li a.is-active,
    .main-nav-dark ul.cats-vertical li a:hover {
        background: #1f2024
    }
    .main-nav-light .main-nav {
        background-color: #ffffff;
        color: #2c2f34
    }
    .main-nav-light .main-nav .menu-sub-content {
        background: #ffffff
    }
    .main-nav-light .main-nav .menu ul li:hover>a,
    .main-nav-light .main-nav .components li a:hover,
    .main-nav-light .main-nav .menu ul li.current-menu-item:not(.mega-link-column)>a {
        color: #08f
    }
    .main-nav-light .main-nav .menu a,
    .main-nav-light .main-nav .components li a {
        color: #2c2f34
    }
    .main-nav-light .main-nav .components li a.button:hover,
    .main-nav-light .main-nav .components li a.checkout-button {
        color: #fff
    }
    .main-nav-light .main-nav.fixed-nav {
        background-color: rgba(255, 255, 255, 0.95)
    }
    .main-nav-light .cats-vertical {
        background: rgba(0, 0, 0, 0.03)
    }
    .main-nav-light ul.cats-vertical li a.is-active,
    .main-nav-light ul.cats-vertical li a:hover {
        background: #fff
    }
    .main-nav-light .mega-menu .post-meta,
    .main-nav-light .mega-menu .post-meta a:not(:hover) {
        color: rgba(0, 0, 0, 0.5)
    }
}

@media (min-width: 992px) {
    .menu-item-has-children>a:before,
    .mega-menu>a:before {
        content: '';
        position: absolute;
        right: 12px;
        margin-top: 2px;
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border: 4px solid transparent;
        border-top: 4px solid #ffffff;
        transition: border 0.15s
    }
    .menu-item-has-children .menu-item-has-children>a:before,
    .mega-menu .menu-item-has-children>a:before {
        border: 4px solid transparent;
        border-left-color: #ffffff
    }
    .menu>.menu-item-has-children:not(.is-icon-only)>a,
    .menu .mega-menu:not(.is-icon-only)>a {
        padding-right: 25px
    }
    .main-menu .menu>li.tie-current-menu>a:before,
    .main-menu .menu>li:hover>a:before {
        border-top-color: #fff
    }
    .main-nav-light .main-nav .menu-item-has-children>a:before,
    .main-nav-light .mega-menu>a:before {
        border-top-color: #2c2f34
    }
    .main-nav-light .main-nav .menu-item-has-children .menu-item-has-children>a:before,
    .main-nav-light .mega-menu .menu-item-has-children>a:before {
        border-top-color: transparent;
        border-left-color: #2c2f34
    }
    .main-nav-light .main-nav .menu-item-has-children li:hover>a:before,
    .main-nav-light .mega-menu li:hover>a:before {
        border-left-color: #08f
    }
    .top-nav-dark .top-menu .menu-item-has-children>a:before {
        border-top-color: #ccc
    }
    .top-nav-dark .top-menu .menu-item-has-children .menu-item-has-children>a:before {
        border-left-color: #ccc;
        border-top-color: transparent
    }
}

@media (min-width: 992px) {
    .main-nav-boxed .main-nav {
        border-width: 0
    }
    .main-nav-boxed .main-menu-wrapper {
        float: left;
        width: 100%
    }
    .main-nav-boxed .main-menu-wrapper .search-bar {
        border-right-width: 0
    }
    .main-nav-boxed.main-nav-light .main-menu-wrapper {
        border-width: 1px;
        background-color: #ffffff
    }
    .dark-skin .main-nav-boxed.main-nav-light .main-menu-wrapper {
        border-width: 0
    }
    .main-nav-boxed.main-nav-light .fixed-nav .main-menu-wrapper {
        border-color: transparent
    }
    .main-nav-above.top-nav-above #main-nav:not(.fixed-nav) {
        top: -1px
    }
    .main-nav-below.top-nav-below #main-nav:not(.fixed-nav) {
        bottom: -1px
    }
    .dark-skin .main-nav-below.top-nav-above #main-nav {
        border-width: 0
    }
    .dark-skin .main-nav-below.top-nav-below-main-nav #main-nav {
        border-top-width: 0
    }
}

.main-nav-boxed .main-nav:not(.fixed-nav),
.main-nav-boxed .fixed-nav .main-menu-wrapper,
.theme-header:not(.main-nav-boxed) .fixed-nav .main-menu-wrapper {
    background: transparent !important
}

@media (min-width: 992px) {
    .header-layout-1.main-nav-below.top-nav-above .main-nav {
        margin-top: -1px
    }
    .header-layout-1.main-nav-below.top-nav-above .top-nav {
        border-top-width: 0
    }
    .header-layout-1.main-nav-below.top-nav-above .breaking-title {
        top: 0;
        margin-bottom: -1px
    }
}

.header-layout-1.main-nav-below.top-nav-below-main-nav .main-nav-wrapper {
    z-index: 9
}

.header-layout-1.main-nav-below.top-nav-below-main-nav .main-nav {
    margin-bottom: -1px;
    bottom: 0;
    border-top-width: 0
}

@media (min-width: 992px) {
    .header-layout-1.main-nav-below.top-nav-below-main-nav .top-nav {
        margin-top: -1px
    }
}

.header-layout-1.has-shadow:not(.top-nav-below) .main-nav {
    border-bottom: 0 !important
}

#theme-header.header-layout-1>div:only-child nav {
    border-width: 0 !important
}

@media only screen and (min-width: 992px) and (max-width: 1100px) {
    .main-nav .menu>li:not(.is-icon-only)>a {
        padding-left: 7px;
        padding-right: 7px
    }
    .main-nav .menu>li:not(.is-icon-only)>a:before {
        display: none
    }
    .main-nav .menu>li.is-icon-only>a {
        padding-left: 15px;
        padding-right: 15px
    }
}

.menu-tiny-label {
    font-size: 10px;
    border-radius: 10px;
    padding: 2px 7px 3px;
    margin-left: 3px;
    line-height: 1;
    position: relative;
    top: -1px
}

.menu-tiny-label.menu-tiny-circle {
    border-radius: 100%
}

@media (max-width: 991px) {
    #sticky-logo {
        display: none
    }
}

@media (min-width: 992px) {
    #sticky-logo {
        overflow: hidden;
        float: left;
        vertical-align: middle
    }
    #sticky-logo a {
        line-height: 1;
        display: inline-block
    }
    #sticky-logo img {
        position: relative;
        vertical-align: middle;
        padding: 8px 10px;
        top: -1px;
        max-height: 50px
    }
    .just-before-sticky #sticky-logo img,
    .header-layout-1 #sticky-logo img {
        padding: 0
    }
    .header-layout-1:not(.has-custom-sticky-logo) #sticky-logo {
        display: none
    }
    .theme-header #sticky-logo img {
        opacity: 0;
        visibility: hidden;
        width: 0 !important;
        -webkit-transform: translateY(75%);
        -ms-transform: translateY(75%);
        transform: translateY(75%);
        transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
        transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1), opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
        transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1), opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.3s cubic-bezier(0.55, 0, 0.1, 1)
    }
    .theme-header.header-layout-1:not(.has-custom-sticky-logo) #sticky-logo img {
        transition: none
    }
    .theme-header:not(.header-layout-1) #main-nav:not(.fixed-nav) #sticky-logo img {
        margin-left: -20px
    }
    .header-layout-1 .flex-placeholder {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1
    }
}

.theme-header .fixed-nav {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: auto !important;
    z-index: 100;
    will-change: transform;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
    border-width: 0;
    background-color: rgba(255, 255, 255, 0.95)
}

.theme-header .fixed-nav:not(.just-before-sticky) {
    line-height: 60px !important
}

@media (min-width: 992px) {
    .theme-header .fixed-nav:not(.just-before-sticky) .header-layout-1-logo {
        display: none
    }
}

.theme-header .fixed-nav:not(.just-before-sticky) #sticky-logo img {
    opacity: 1;
    visibility: visible;
    width: auto !important;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

@media (min-width: 992px) {
    .header-layout-1:not(.just-before-sticky):not(.has-custom-sticky-logo) .fixed-nav #sticky-logo {
        display: block
    }
}

.admin-bar .theme-header .fixed-nav {
    top: 32px
}

@media (max-width: 782px) {
    .admin-bar .theme-header .fixed-nav {
        top: 46px
    }
}

@media (max-width: 600px) {
    .admin-bar .theme-header .fixed-nav {
        top: 0
    }
}

@media (min-width: 992px) {
    .border-layout .theme-header .fixed-nav {
        top: 25px
    }
    .border-layout.admin-bar .theme-header .fixed-nav {
        top: 57px
    }
}

.theme-header .fixed-nav .container {
    opacity: 0.95
}

.theme-header .fixed-nav .main-menu-wrapper,
.theme-header .fixed-nav .main-menu {
    border-top: 0
}

.theme-header .fixed-nav.fixed-unpinned:not(.default-behavior-mode) .main-menu .menu>li.tie-current-menu {
    border-bottom-width: 0;
    margin-bottom: 0
}

.theme-header .fixed-nav.unpinned-no-transition {
    transition: none
}

.theme-header .fixed-pinned,
.theme-header .default-behavior-mode.fixed-unpinned {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

@media (max-width: 991px) {
    .theme-header .fixed-nav {
        transition: none
    }
    .fixed-nav.logo-container.sticky-up,
    .fixed-nav.logo-container.sticky-nav-slide.sticky-down,
    .fixed-nav#main-nav.sticky-up,
    .fixed-nav#main-nav.sticky-nav-slide.sticky-down {
        transition: -webkit-transform 0.4s ease;
        transition: transform 0.4s ease;
        transition: transform 0.4s ease, -webkit-transform 0.4s ease
    }
    .sticky-type-slide .fixed-nav.logo-container.sticky-nav-slide-visible,
    .sticky-type-slide .fixed-nav#main-nav.sticky-nav-slide-visible {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
    .fixed-nav.default-behavior-mode {
        -webkit-transform: none !important;
        -ms-transform: none !important;
        transform: none !important
    }
}

@media (max-width: 991px) {
    #tie-wrapper header#theme-header {
        box-shadow: none;
        background: transparent !important
    }
    .logo-container,
    .header-layout-1 .main-nav {
        border-width: 0;
        box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1)
    }
    .header-layout-1.top-nav-below .main-nav:not(.fixed-nav) {
        box-shadow: none
    }
    .is-header-layout-1.has-header-ad .top-nav-below .main-nav {
        border-bottom-width: 1px
    }
    .logo-container,
    .header-layout-1 .main-nav {
        background-color: #ffffff
    }
    .dark-skin .logo-container,
    .main-nav-dark.header-layout-1 .main-nav {
        background-color: #1f2024
    }
    .dark-skin #theme-header .logo-container.fixed-nav {
        background-color: rgba(31, 32, 36, 0.95)
    }
    .header-layout-1.main-nav-below.top-nav-below-main-nav .main-nav {
        margin-bottom: 0
    }
    #sticky-nav-mask,
    .header-layout-1 #menu-components-wrap,
    .header-layout-3 .main-nav-wrapper,
    .header-layout-2 .main-nav-wrapper {
        display: none
    }
    .main-menu-wrapper .tie-alignleft {
        width: 100%
    }
}