.wf-active .logo-text,
.wf-active h1,
.wf-active h2,
.wf-active h3,
.wf-active h4,
.wf-active h5,
.wf-active h6,
.wf-active .the-subtitle {
    font-family: 'Lato';
}

html #main-nav .main-menu>ul>li>a {
    text-transform: uppercase;
}

.brand-title,
a:hover,
.tie-popup-search-submit,
#logo.text-logo a,
.theme-header nav .components #search-submit:hover,
.theme-header .header-nav .components>li:hover>a,
.theme-header .header-nav .components li a:hover,
.main-menu ul.cats-vertical li a.is-active,
.main-menu ul.cats-vertical li a:hover,
.main-nav li.mega-menu .post-meta a:hover,
.main-nav li.mega-menu .post-box-title a:hover,
.search-in-main-nav.autocomplete-suggestions a:hover,
#main-nav .menu ul:not(.cats-horizontal) li:hover>a,
#main-nav .menu ul li.current-menu-item:not(.mega-link-column)>a,
.top-nav .menu li:hover>a,
.top-nav .menu>.tie-current-menu>a,
.search-in-top-nav.autocomplete-suggestions .post-title a:hover,
div.mag-box .mag-box-options .mag-box-filter-links a.active,
.mag-box-filter-links .flexMenu-viewMore:hover>a,
.stars-rating-active,
body .tabs.tabs .active>a,
.video-play-icon,
.spinner-circle:after,
#go-to-content:hover,
.comment-list .comment-author .fn,
.commentlist .comment-author .fn,
blockquote::before,
blockquote cite,
blockquote.quote-simple p,
.multiple-post-pages a:hover,
#story-index li .is-current,
.latest-tweets-widget .twitter-icon-wrap span,
.wide-slider-nav-wrapper .slide,
.wide-next-prev-slider-wrapper .tie-slider-nav li:hover span,
.review-final-score h3,
#mobile-menu-icon:hover .menu-text,
body .entry a,
.dark-skin body .entry a,
.entry .post-bottom-meta a:hover,
.comment-list .comment-content a,
q a,
blockquote a,
.widget.tie-weather-widget .icon-basecloud-bg:after,
.site-footer a:hover,
.site-footer .stars-rating-active,
.site-footer .twitter-icon-wrap span,
.site-info a:hover {
    color: #e74c3c;
}

#instagram-link a:hover {
    color: #e74c3c !important;
    border-color: #e74c3c !important;
}

[type='submit'],
.button,
.generic-button a,
.generic-button button,
.theme-header .header-nav .comp-sub-menu a.button.guest-btn:hover,
.theme-header .header-nav .comp-sub-menu a.checkout-button,
nav.main-nav .menu>li.tie-current-menu>a,
nav.main-nav .menu>li:hover>a,
.main-menu .mega-links-head:after,
.main-nav .mega-menu.mega-cat .cats-horizontal li a.is-active,
#mobile-menu-icon:hover .nav-icon,
#mobile-menu-icon:hover .nav-icon:before,
#mobile-menu-icon:hover .nav-icon:after,
.search-in-main-nav.autocomplete-suggestions a.button,
.search-in-top-nav.autocomplete-suggestions a.button,
.spinner>div,
.post-cat,
.pages-numbers li.current span,
.multiple-post-pages>span,
#tie-wrapper .mejs-container .mejs-controls,
.mag-box-filter-links a:hover,
.slider-arrow-nav a:not(.pagination-disabled):hover,
.comment-list .reply a:hover,
.commentlist .reply a:hover,
#reading-position-indicator,
#story-index-icon,
.videos-block .playlist-title,
.review-percentage .review-item span span,
.tie-slick-dots li.slick-active button,
.tie-slick-dots li button:hover,
.digital-rating-static,
.timeline-widget li a:hover .date:before,
#wp-calendar #today,
.posts-list-counter li.widget-post-list:before,
.cat-counter a+span,
.tie-slider-nav li span:hover,
.fullwidth-area .widget_tag_cloud .tagcloud a:hover,
.magazine2:not(.block-head-4) .dark-widgetized-area ul.tabs a:hover,
.magazine2:not(.block-head-4) .dark-widgetized-area ul.tabs .active a,
.magazine1 .dark-widgetized-area ul.tabs a:hover,
.magazine1 .dark-widgetized-area ul.tabs .active a,
.block-head-4.magazine2 .dark-widgetized-area .tabs.tabs .active a,
.block-head-4.magazine2 .dark-widgetized-area .tabs>.active a:before,
.block-head-4.magazine2 .dark-widgetized-area .tabs>.active a:after,
.demo_store,
.demo #logo:after,
.demo #sticky-logo:after,
.widget.tie-weather-widget,
span.video-close-btn:hover,
#go-to-top,
.latest-tweets-widget .slider-links .button:not(:hover) {
    background-color: #e74c3c;
    color: #FFFFFF;
}

.tie-weather-widget .widget-title .the-subtitle,
.block-head-4.magazine2 #footer .tabs .active a:hover {
    color: #FFFFFF;
}

pre,
code,
.pages-numbers li.current span,
.theme-header .header-nav .comp-sub-menu a.button.guest-btn:hover,
.multiple-post-pages>span,
.post-content-slideshow .tie-slider-nav li span:hover,
#tie-body .tie-slider-nav li>span:hover,
.slider-arrow-nav a:not(.pagination-disabled):hover,
.main-nav .mega-menu.mega-cat .cats-horizontal li a.is-active,
.main-nav .mega-menu.mega-cat .cats-horizontal li a:hover,
.main-menu .menu>li>.menu-sub-content {
    border-color: #e74c3c;
}

.main-menu .menu>li.tie-current-menu {
    border-bottom-color: #e74c3c;
}

.top-nav .menu li.tie-current-menu>a:before,
.top-nav .menu li.menu-item-has-children:hover>a:before {
    border-top-color: #e74c3c;
}

.main-nav .main-menu .menu>li.tie-current-menu>a:before,
.main-nav .main-menu .menu>li:hover>a:before {
    border-top-color: #FFFFFF;
}

header.main-nav-light .main-nav .menu-item-has-children li:hover>a:before,
header.main-nav-light .main-nav .mega-menu li:hover>a:before {
    border-left-color: #e74c3c;
}

.rtl header.main-nav-light .main-nav .menu-item-has-children li:hover>a:before,
.rtl header.main-nav-light .main-nav .mega-menu li:hover>a:before {
    border-right-color: #e74c3c;
    border-left-color: transparent;
}

.top-nav ul.menu li .menu-item-has-children:hover>a:before {
    border-top-color: transparent;
    border-left-color: #e74c3c;
}

.rtl .top-nav ul.menu li .menu-item-has-children:hover>a:before {
    border-left-color: transparent;
    border-right-color: #e74c3c;
}

 ::-moz-selection {
    background-color: #e74c3c;
    color: #FFFFFF;
}

 ::selection {
    background-color: #e74c3c;
    color: #FFFFFF;
}

circle.circle_bar {
    stroke: #e74c3c;
}

#reading-position-indicator {
    box-shadow: 0 0 10px rgba(231, 76, 60, 0.7);
}

#logo.text-logo a:hover,
body .entry a:hover,
.dark-skin body .entry a:hover,
.comment-list .comment-content a:hover,
.block-head-4.magazine2 .site-footer .tabs li a:hover,
q a:hover,
blockquote a:hover {
    color: #b51a0a;
}

.button:hover,
input[type='submit']:hover,
.generic-button a:hover,
.generic-button button:hover,
a.post-cat:hover,
.site-footer .button:hover,
.site-footer [type='submit']:hover,
.search-in-main-nav.autocomplete-suggestions a.button:hover,
.search-in-top-nav.autocomplete-suggestions a.button:hover,
.theme-header .header-nav .comp-sub-menu a.checkout-button:hover {
    background-color: #b51a0a;
    color: #FFFFFF;
}

.theme-header .header-nav .comp-sub-menu a.checkout-button:not(:hover),
body .entry a.button {
    color: #FFFFFF;
}

#story-index.is-compact .story-index-content {
    background-color: #e74c3c;
}

#story-index.is-compact .story-index-content a,
#story-index.is-compact .story-index-content .is-current {
    color: #FFFFFF;
}

@media screen and (min-width: 46.8em) {
    .bp-dir-hori-nav:not(.bp-vertical-navs) .bp-navs.main-navs ul li a:hover,
    .bp-dir-hori-nav:not(.bp-vertical-navs) .bp-navs.main-navs ul li.selected a,
    .bp-dir-hori-nav:not(.bp-vertical-navs) .bp-navs.main-navs ul li.current a,
    .bp-single-vert-nav .item-body:not(#group-create-body) #subnav:not(.tabbed-links) li.current a,
    .bp-single-vert-nav .bp-navs.vertical li.selected a,
    .bp-dir-vert-nav .dir-navs ul li.selected a {
        color: #e74c3c;
    }
}

.buddypress-wrap .bp-subnavs li.selected a,
.buddypress-wrap .bp-subnavs li.current a,
.activity-list .activity-item .activity-meta.action .unfav:before,
.buddypress-wrap .profile .profile-fields .label,
.buddypress-wrap .profile.edit .button-nav li a:hover,
.buddypress-wrap .profile.edit .button-nav li.current a,
#message-threads li.selected .thread-subject .subject,
.buddypress .buddypress-wrap .text-links-list a.button:focus,
.buddypress .buddypress-wrap .text-links-list a.button:hover,
.bp-dir-hori-nav:not(.bp-vertical-navs) .bp-navs.main-navs ul li a:hover,
.bp-dir-hori-nav:not(.bp-vertical-navs) .bp-navs.main-navs ul li.selected a,
.bp-dir-hori-nav:not(.bp-vertical-navs) .bp-navs.main-navs ul li.current a,
#group-create-tabs:not(.tabbed-links) li.current a {
    color: #e74c3c;
}

#group-create-tabs:not(.tabbed-links) li.current a:hover {
    color: #b51a0a;
}

.buddypress-wrap .profile .profile-fields .label:before,
.buddypress-wrap .bp-pagination .bp-pagination-links .current {
    background: #e74c3c
}

.bp-navs ul li .count,
.buddypress-wrap .activity-list .load-more a,
.buddypress-wrap .activity-list .load-newest a,
.buddypress-wrap #compose-personal-li a,
.buddypress #buddypress.bp-dir-hori-nav .create-button a {
    background: #e74c3c;
    color: #FFFFFF;
}

buddypress-wrap #compose-personal-li a:hover,
buddypress-wrap .activity-list .load-more a:hover,
buddypress-wrap .activity-list .load-newest a:hover {
    background: #b51a0a;
}

.widget.buddypress .item-options a.selected:not(.loading) {
    background: #e74c3c;
    border-color: #e74c3c;
    color: #FFFFFF !important;
}

.woocommerce div.product span.price,
.woocommerce div.product p.price,
.woocommerce div.product div.summary .product_meta>span,
.woocommerce div.product div.summary .product_meta>span a:hover,
.woocommerce ul.products li.product .price ins,
.woocommerce .woocommerce-pagination ul.page-numbers li a.current,
.woocommerce .woocommerce-pagination ul.page-numbers li a:hover,
.woocommerce .woocommerce-pagination ul.page-numbers li span.current,
.woocommerce .woocommerce-pagination ul.page-numbers li span:hover,
.woocommerce .widget_rating_filter ul li.chosen a,
.woocommerce-MyAccount-navigation ul li.is-active a {
    color: #e74c3c;
}

.woocommerce span.new,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled]:hover,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    background-color: #e74c3c;
    color: #FFFFFF;
}

.woocommerce div.product #product-images-slider-nav .tie-slick-slider .slide.slick-current img {
    border-color: #e74c3c;
}

.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    background-color: #b51a0a;
}

#tie-body .mag-box-title h3 a,
#tie-body .block-more-button {
    color: #e74c3c;
}

#tie-body .mag-box-title h3 a:hover,
#tie-body .block-more-button:hover {
    color: #b51a0a;
}

#tie-body .mag-box-title {
    color: #e74c3c;
}

#tie-body .mag-box-title:before {
    border-top-color: #e74c3c;
}

#tie-body .mag-box-title:after,
#tie-body #footer .widget-title:after {
    background-color: #e74c3c;
}

html .brand-title,
html a:hover,
html .tie-popup-search-submit,
html #logo.text-logo a,
html .theme-header nav .components #search-submit:hover,
html .theme-header .header-nav .components>li:hover>a,
html .theme-header .header-nav .components li a:hover,
html .main-menu ul.cats-vertical li a.is-active,
html .main-menu ul.cats-vertical li a:hover,
html .main-nav li.mega-menu .post-meta a:hover,
html .main-nav li.mega-menu .post-box-title a:hover,
html .search-in-main-nav.autocomplete-suggestions a:hover,
html #main-nav .menu ul:not(.cats-horizontal) li:hover>a,
html #main-nav .menu ul li.current-menu-item:not(.mega-link-column)>a,
html .top-nav .menu li:hover>a,
html .top-nav .menu>.tie-current-menu>a,
html .search-in-top-nav.autocomplete-suggestions .post-title a:hover,
html div.mag-box .mag-box-options .mag-box-filter-links a.active,
html .mag-box-filter-links .flexMenu-viewMore:hover>a,
html .stars-rating-active,
html body .tabs.tabs .active>a,
html .video-play-icon,
html .spinner-circle:after,
html #go-to-content:hover,
html .comment-list .comment-author .fn,
html .commentlist .comment-author .fn,
html blockquote::before,
html blockquote cite,
html blockquote.quote-simple p,
html .multiple-post-pages a:hover,
html #story-index li .is-current,
html .latest-tweets-widget .twitter-icon-wrap span,
html .wide-slider-nav-wrapper .slide,
html .wide-next-prev-slider-wrapper .tie-slider-nav li:hover span,
html .review-final-score h3,
html #mobile-menu-icon:hover .menu-text,
html body .entry a,
html .dark-skin body .entry a,
html .entry .post-bottom-meta a:hover,
html .comment-list .comment-content a,
html q a,
html blockquote a,
html .widget.tie-weather-widget .icon-basecloud-bg:after,
html .site-footer a:hover,
html .site-footer .stars-rating-active,
html .site-footer .twitter-icon-wrap span,
html .site-info a:hover {
    color: #e74c3c;
}

html #instagram-link a:hover {
    color: #e74c3c !important;
    border-color: #e74c3c !important;
}

html [type='submit'],
html .button,
html .generic-button a,
html .generic-button button,
html .theme-header .header-nav .comp-sub-menu a.button.guest-btn:hover,
html .theme-header .header-nav .comp-sub-menu a.checkout-button,
html nav.main-nav .menu>li.tie-current-menu>a,
html nav.main-nav .menu>li:hover>a,
html .main-menu .mega-links-head:after,
html .main-nav .mega-menu.mega-cat .cats-horizontal li a.is-active,
html #mobile-menu-icon:hover .nav-icon,
html #mobile-menu-icon:hover .nav-icon:before,
html #mobile-menu-icon:hover .nav-icon:after,
html .search-in-main-nav.autocomplete-suggestions a.button,
html .search-in-top-nav.autocomplete-suggestions a.button,
html .spinner>div,
html .post-cat,
html .pages-numbers li.current span,
html .multiple-post-pages>span,
html #tie-wrapper .mejs-container .mejs-controls,
html .mag-box-filter-links a:hover,
html .slider-arrow-nav a:not(.pagination-disabled):hover,
html .comment-list .reply a:hover,
html .commentlist .reply a:hover,
html #reading-position-indicator,
html #story-index-icon,
html .videos-block .playlist-title,
html .review-percentage .review-item span span,
html .tie-slick-dots li.slick-active button,
html .tie-slick-dots li button:hover,
html .digital-rating-static,
html .timeline-widget li a:hover .date:before,
html #wp-calendar #today,
html .posts-list-counter li.widget-post-list:before,
html .cat-counter a+span,
html .tie-slider-nav li span:hover,
html .fullwidth-area .widget_tag_cloud .tagcloud a:hover,
html .magazine2:not(.block-head-4) .dark-widgetized-area ul.tabs a:hover,
html .magazine2:not(.block-head-4) .dark-widgetized-area ul.tabs .active a,
html .magazine1 .dark-widgetized-area ul.tabs a:hover,
html .magazine1 .dark-widgetized-area ul.tabs .active a,
html .block-head-4.magazine2 .dark-widgetized-area .tabs.tabs .active a,
html .block-head-4.magazine2 .dark-widgetized-area .tabs>.active a:before,
html .block-head-4.magazine2 .dark-widgetized-area .tabs>.active a:after,
html .demo_store,
html .demo #logo:after,
html .demo #sticky-logo:after,
html .widget.tie-weather-widget,
html span.video-close-btn:hover,
html #go-to-top,
html .latest-tweets-widget .slider-links .button:not(:hover) {
    background-color: #e74c3c;
    color: #FFFFFF;
}

html .tie-weather-widget .widget-title .the-subtitle,
html .block-head-4.magazine2 #footer .tabs .active a:hover {
    color: #FFFFFF;
}

html pre,
html code,
html .pages-numbers li.current span,
html .theme-header .header-nav .comp-sub-menu a.button.guest-btn:hover,
html .multiple-post-pages>span,
html .post-content-slideshow .tie-slider-nav li span:hover,
html #tie-body .tie-slider-nav li>span:hover,
html .slider-arrow-nav a:not(.pagination-disabled):hover,
html .main-nav .mega-menu.mega-cat .cats-horizontal li a.is-active,
html .main-nav .mega-menu.mega-cat .cats-horizontal li a:hover,
html .main-menu .menu>li>.menu-sub-content {
    border-color: #e74c3c;
}

html .main-menu .menu>li.tie-current-menu {
    border-bottom-color: #e74c3c;
}

html .top-nav .menu li.tie-current-menu>a:before,
html .top-nav .menu li.menu-item-has-children:hover>a:before {
    border-top-color: #e74c3c;
}

html .main-nav .main-menu .menu>li.tie-current-menu>a:before,
html .main-nav .main-menu .menu>li:hover>a:before {
    border-top-color: #FFFFFF;
}

html header.main-nav-light .main-nav .menu-item-has-children li:hover>a:before,
html header.main-nav-light .main-nav .mega-menu li:hover>a:before {
    border-left-color: #e74c3c;
}

html .rtl header.main-nav-light .main-nav .menu-item-has-children li:hover>a:before,
html .rtl header.main-nav-light .main-nav .mega-menu li:hover>a:before {
    border-right-color: #e74c3c;
    border-left-color: transparent;
}

html .top-nav ul.menu li .menu-item-has-children:hover>a:before {
    border-top-color: transparent;
    border-left-color: #e74c3c;
}

html .rtl .top-nav ul.menu li .menu-item-has-children:hover>a:before {
    border-left-color: transparent;
    border-right-color: #e74c3c;
}

html ::-moz-selection {
    background-color: #e74c3c;
    color: #FFFFFF;
}

html ::selection {
    background-color: #e74c3c;
    color: #FFFFFF;
}

html circle.circle_bar {
    stroke: #e74c3c;
}

html #reading-position-indicator {
    box-shadow: 0 0 10px rgba(231, 76, 60, 0.7);
}

html #logo.text-logo a:hover,
html body .entry a:hover,
html .dark-skin body .entry a:hover,
html .comment-list .comment-content a:hover,
html .block-head-4.magazine2 .site-footer .tabs li a:hover,
html q a:hover,
html blockquote a:hover {
    color: #b51a0a;
}

html .button:hover,
html input[type='submit']:hover,
html .generic-button a:hover,
html .generic-button button:hover,
html a.post-cat:hover,
html .site-footer .button:hover,
html .site-footer [type='submit']:hover,
html .search-in-main-nav.autocomplete-suggestions a.button:hover,
html .search-in-top-nav.autocomplete-suggestions a.button:hover,
html .theme-header .header-nav .comp-sub-menu a.checkout-button:hover {
    background-color: #b51a0a;
    color: #FFFFFF;
}

html .theme-header .header-nav .comp-sub-menu a.checkout-button:not(:hover),
html body .entry a.button {
    color: #FFFFFF;
}

html #story-index.is-compact .story-index-content {
    background-color: #e74c3c;
}

html #story-index.is-compact .story-index-content a,
html #story-index.is-compact .story-index-content .is-current {
    color: #FFFFFF;
}

@media screen and (min-width: 46.8em) {
    html .bp-dir-hori-nav:not(.bp-vertical-navs) .bp-navs.main-navs ul li a:hover,
    html .bp-dir-hori-nav:not(.bp-vertical-navs) .bp-navs.main-navs ul li.selected a,
    html .bp-dir-hori-nav:not(.bp-vertical-navs) .bp-navs.main-navs ul li.current a,
    html .bp-single-vert-nav .item-body:not(#group-create-body) #subnav:not(.tabbed-links) li.current a,
    html .bp-single-vert-nav .bp-navs.vertical li.selected a,
    html .bp-dir-vert-nav .dir-navs ul li.selected a {
        color: #e74c3c;
    }
}

html .buddypress-wrap .bp-subnavs li.selected a,
html .buddypress-wrap .bp-subnavs li.current a,
html .activity-list .activity-item .activity-meta.action .unfav:before,
html .buddypress-wrap .profile .profile-fields .label,
html .buddypress-wrap .profile.edit .button-nav li a:hover,
html .buddypress-wrap .profile.edit .button-nav li.current a,
html #message-threads li.selected .thread-subject .subject,
html .buddypress .buddypress-wrap .text-links-list a.button:focus,
html .buddypress .buddypress-wrap .text-links-list a.button:hover,
html .bp-dir-hori-nav:not(.bp-vertical-navs) .bp-navs.main-navs ul li a:hover,
html .bp-dir-hori-nav:not(.bp-vertical-navs) .bp-navs.main-navs ul li.selected a,
html .bp-dir-hori-nav:not(.bp-vertical-navs) .bp-navs.main-navs ul li.current a,
html #group-create-tabs:not(.tabbed-links) li.current a {
    color: #e74c3c;
}

html #group-create-tabs:not(.tabbed-links) li.current a:hover {
    color: #b51a0a;
}

html .buddypress-wrap .profile .profile-fields .label:before,
html .buddypress-wrap .bp-pagination .bp-pagination-links .current {
    background: #e74c3c
}

html .bp-navs ul li .count,
html .buddypress-wrap .activity-list .load-more a,
html .buddypress-wrap .activity-list .load-newest a,
html .buddypress-wrap #compose-personal-li a,
html .buddypress #buddypress.bp-dir-hori-nav .create-button a {
    background: #e74c3c;
    color: #FFFFFF;
}

html buddypress-wrap #compose-personal-li a:hover,
html buddypress-wrap .activity-list .load-more a:hover,
html buddypress-wrap .activity-list .load-newest a:hover {
    background: #b51a0a;
}

html .widget.buddypress .item-options a.selected:not(.loading) {
    background: #e74c3c;
    border-color: #e74c3c;
    color: #FFFFFF !important;
}

html .woocommerce div.product span.price,
html .woocommerce div.product p.price,
html .woocommerce div.product div.summary .product_meta>span,
html .woocommerce div.product div.summary .product_meta>span a:hover,
html .woocommerce ul.products li.product .price ins,
html .woocommerce .woocommerce-pagination ul.page-numbers li a.current,
html .woocommerce .woocommerce-pagination ul.page-numbers li a:hover,
html .woocommerce .woocommerce-pagination ul.page-numbers li span.current,
html .woocommerce .woocommerce-pagination ul.page-numbers li span:hover,
html .woocommerce .widget_rating_filter ul li.chosen a,
html .woocommerce-MyAccount-navigation ul li.is-active a {
    color: #e74c3c;
}

html .woocommerce span.new,
html .woocommerce a.button.alt,
html .woocommerce button.button.alt,
html .woocommerce input.button.alt,
html .woocommerce a.button.alt.disabled,
html .woocommerce a.button.alt:disabled,
html .woocommerce a.button.alt:disabled[disabled],
html .woocommerce a.button.alt.disabled:hover,
html .woocommerce a.button.alt:disabled:hover,
html .woocommerce a.button.alt:disabled[disabled]:hover,
html .woocommerce button.button.alt.disabled,
html .woocommerce button.button.alt:disabled,
html .woocommerce button.button.alt:disabled[disabled],
html .woocommerce button.button.alt.disabled:hover,
html .woocommerce button.button.alt:disabled:hover,
html .woocommerce button.button.alt:disabled[disabled]:hover,
html .woocommerce input.button.alt.disabled,
html .woocommerce input.button.alt:disabled,
html .woocommerce input.button.alt:disabled[disabled],
html .woocommerce input.button.alt.disabled:hover,
html .woocommerce input.button.alt:disabled:hover,
html .woocommerce input.button.alt:disabled[disabled]:hover,
html .woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    background-color: #e74c3c;
    color: #FFFFFF;
}

html .woocommerce div.product #product-images-slider-nav .tie-slick-slider .slide.slick-current img {
    border-color: #e74c3c;
}

html .woocommerce a.button:hover,
html .woocommerce button.button:hover,
html .woocommerce input.button:hover,
html .woocommerce a.button.alt:hover,
html .woocommerce button.button.alt:hover,
html .woocommerce input.button.alt:hover {
    background-color: #b51a0a;
}

html #tie-body .mag-box-title h3 a,
html #tie-body .block-more-button {
    color: #e74c3c;
}

html #tie-body .mag-box-title h3 a:hover,
html #tie-body .block-more-button:hover {
    color: #b51a0a;
}

html #tie-body .mag-box-title {
    color: #e74c3c;
}

html #tie-body .mag-box-title:before {
    border-top-color: #e74c3c;
}

html #tie-body .mag-box-title:after,
html #tie-body #footer .widget-title:after {
    background-color: #e74c3c;
}

html .tie-cat-8,
html .tie-cat-item-8>span {
    background-color: #4ca80b !important;
    color: #FFFFFF !important;
}

html .tie-cat-8:after {
    border-top-color: #4ca80b !important;
}

html .tie-cat-8:hover {
    background-color: #2e8a00 !important;
}

html .tie-cat-8:hover:after {
    border-top-color: #2e8a00 !important;
}

html .tie-cat-75,
html .tie-cat-item-75>span {
    background-color: #9b59b6 !important;
    color: #FFFFFF !important;
}

html .tie-cat-75:after {
    border-top-color: #9b59b6 !important;
}

html .tie-cat-75:hover {
    background-color: #7d3b98 !important;
}

html .tie-cat-75:hover:after {
    border-top-color: #7d3b98 !important;
}

html .tie-cat-48,
html .tie-cat-item-48>span {
    background-color: #e74c3c !important;
    color: #FFFFFF !important;
}

html .tie-cat-48:after {
    border-top-color: #e74c3c !important;
}

html .tie-cat-48:hover {
    background-color: #c92e1e !important;
}

html .tie-cat-48:hover:after {
    border-top-color: #c92e1e !important;
}

html .tie-cat-64,
html .tie-cat-item-64>span {
    background-color: #37cae8 !important;
    color: #FFFFFF !important;
}

html .tie-cat-64:after {
    border-top-color: #37cae8 !important;
}

html .tie-cat-64:hover {
    background-color: #19acca !important;
}

html .tie-cat-64:hover:after {
    border-top-color: #19acca !important;
}

html .tie-cat-6,
html .tie-cat-item-6>span {
    background-color: #997c00 !important;
    color: #FFFFFF !important;
}

html .tie-cat-6:after {
    border-top-color: #997c00 !important;
}

html .tie-cat-6:hover {
    background-color: #7b5e00 !important;
}

html .tie-cat-6:hover:after {
    border-top-color: #7b5e00 !important;
}

html .tie-cat-138,
html .tie-cat-item-138>span {
    background-color: #72cc2e !important;
    color: #FFFFFF !important;
}

html .tie-cat-138:after {
    border-top-color: #72cc2e !important;
}

html .tie-cat-138:hover {
    background-color: #54ae10 !important;
}

html .tie-cat-138:hover:after {
    border-top-color: #54ae10 !important;
}

@media (max-width: 1250px) {
    html .share-buttons-sticky {
        display: none;
    }
}

@media (max-width: 991px) {
    html .side-aside.dark-skin {
        background: #2f88d6;
        background: -webkit-linear-gradient(135deg, #5933a2, #2f88d6);
        background: -moz-linear-gradient(135deg, #5933a2, #2f88d6);
        background: -o-linear-gradient(135deg, #5933a2, #2f88d6);
        background: linear-gradient(135deg, #2f88d6, #5933a2);
    }
}

@media (max-width: 670px) {
    .miscellaneous-box .posts-items li:nth-child(even):last-of-type {
        display: none;
    }
}