.woocommerce form .form-row .required {
    visibility: visible;
}

.wf-active .logo-text,
.wf-active h1,
.wf-active h2,
.wf-active h3,
.wf-active h4,
.wf-active h5,
.wf-active h6,
.wf-active .the-subtitle {
    font-family: 'Lato';
}

html #main-nav .main-menu>ul>li>a {
    text-transform: uppercase;
}

html .tie-cat-8,
html .tie-cat-item-8>span {
    background-color: #4ca80b !important;
    color: #FFFFFF !important;
}

html .tie-cat-8:after {
    border-top-color: #4ca80b !important;
}

html .tie-cat-8:hover {
    background-color: #2e8a00 !important;
}

html .tie-cat-8:hover:after {
    border-top-color: #2e8a00 !important;
}

html .tie-cat-75,
html .tie-cat-item-75>span {
    background-color: #9b59b6 !important;
    color: #FFFFFF !important;
}

html .tie-cat-75:after {
    border-top-color: #9b59b6 !important;
}

html .tie-cat-75:hover {
    background-color: #7d3b98 !important;
}

html .tie-cat-75:hover:after {
    border-top-color: #7d3b98 !important;
}

html .tie-cat-48,
html .tie-cat-item-48>span {
    background-color: #e74c3c !important;
    color: #FFFFFF !important;
}

html .tie-cat-48:after {
    border-top-color: #e74c3c !important;
}

html .tie-cat-48:hover {
    background-color: #c92e1e !important;
}

html .tie-cat-48:hover:after {
    border-top-color: #c92e1e !important;
}

html .tie-cat-64,
html .tie-cat-item-64>span {
    background-color: #37cae8 !important;
    color: #FFFFFF !important;
}

html .tie-cat-64:after {
    border-top-color: #37cae8 !important;
}

html .tie-cat-64:hover {
    background-color: #19acca !important;
}

html .tie-cat-64:hover:after {
    border-top-color: #19acca !important;
}

html .tie-cat-6,
html .tie-cat-item-6>span {
    background-color: #997c00 !important;
    color: #FFFFFF !important;
}

html .tie-cat-6:after {
    border-top-color: #997c00 !important;
}

html .tie-cat-6:hover {
    background-color: #7b5e00 !important;
}

html .tie-cat-6:hover:after {
    border-top-color: #7b5e00 !important;
}

html .tie-cat-138,
html .tie-cat-item-138>span {
    background-color: #72cc2e !important;
    color: #FFFFFF !important;
}

html .tie-cat-138:after {
    border-top-color: #72cc2e !important;
}

html .tie-cat-138:hover {
    background-color: #54ae10 !important;
}

html .tie-cat-138:hover:after {
    border-top-color: #54ae10 !important;
}

@media (max-width: 1250px) {
    html .share-buttons-sticky {
        display: none;
    }
}

@media (max-width: 991px) {
    html .side-aside.dark-skin {
        background: #2f88d6;
        background: -webkit-linear-gradient(135deg, #5933a2, #2f88d6);
        background: -moz-linear-gradient(135deg, #5933a2, #2f88d6);
        background: -o-linear-gradient(135deg, #5933a2, #2f88d6);
        background: linear-gradient(135deg, #2f88d6, #5933a2);
    }
}

@media (max-width: 670px) {
    .miscellaneous-box .posts-items li:nth-child(even):last-of-type {
        display: none;
    }
}
